h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;

}

.textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.keyboard {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.description {
  text-align: center;
  font-size: 24px;
  color: whitesmoke;
}